= render "shared/header"

.main
  .container.container-m
    .row
      .col-md-8.img-hidden
        %p.h3 新着レシピ
        %ul.card-deck
          - @recipes.each do |recipe|
            = link_to recipe_path(recipe.id) do
              .card
                .card-body.recipe-img-content
                  = image_tag recipe.image.variant(resize: '500x500'), class: "recipe-img" if recipe.image.attached?
                .recipe-info
                  %h3.recipe-name.card-title
                    = recipe.name
                  %h3.recipe-point.card-point
                    = recipe.point
                  .recipe-contributor.card-text
                    %span.name
                      %a{:href => "/users/#{recipe.user.id}"}
                        %span 投稿者
                        = recipe.user.nickname
                    .star-btn
                      = image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"
                      %span.star-count
                        = recipe.favorited_users.count

      .col-md-4
        %p.h3 トピックス
        %br/
        %p
          2021/2/27（土）
          %br>/
          トップページを更新しました！
        %br/
        %p
          2021/2/20（土）
          %br>/
          一部機能を追加しました！
        %br/
        %p
          2021/2/14（土）
          %br>/
          サービスを開始しました！

  .container.container-m
    .row
      .col-md-8.img-hidden
        %p.h3 人気レシピ
        %ul.card-deck
          - @recipes.each do |recipe|
            = link_to recipe_path(recipe.id) do
              .card
                .card-body.recipe-img-content
                  = image_tag recipe.image.variant(resize: '500x500'), class: "recipe-img" if recipe.image.attached?
                .recipe-info
                  %h3.recipe-name.card-title
                    = recipe.name
                  %h3.recipe-point.card-point
                    = recipe.point
                  .recipe-contributor.card-text
                    %span.name
                      %a{:href => "/users/#{recipe.user.id}"}
                        %span 投稿者
                        = recipe.user.nickname
                    .star-btn
                      = image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"
                      %span.star-count
                        = recipe.favorited_users.count
      .col-md-4
        %p.h3 レシピ投稿者一覧
        %br/
        %p Aさん
        %br/
        %p Bさん
        %br/
        %p Cさん

= link_to(new_recipe_path, class: 'make-btn') do
  %span.make-btn-text レシピを投稿する

= render "shared/footer"
