= render "shared/header"

.main
  .container
    .row
      .col-md-8.img-hidden
        %p.h3 新着レシピ
        %ul.card-deck
          - @recipes.each do |recipe|
            = link_to recipe_path(recipe.id) do
              .card
                .card-body.recipe-img-content
                  = image_tag recipe.image.variant(resize: '500x500'), class: "img-fluid recipe-img" if recipe.image.attached?
                .recipe-info
                  %h3.recipe-name.card-title
                    = recipe.name
                  %h3.recipe-point.card-point
                    = recipe.point
                  .recipe-contributor.card-text
                    %span.name
                      %a{:href => "/users/#{recipe.user.id}"}
                        %span 投稿者
                        = recipe.user.nickname
                    .star-btn
                      = image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"
                      %span.star-count
                        = recipe.favorited_users.count

      .col-md-4
        = form_with(url: search_recipes_path, local: true, method: :get, class: "form-inline") do |form|
          .form-group
            = form.text_field :keyword, placeholder: "キーワードから探す", class: "form-control col-8"
            = form.submit "レシピ検索", class: "search-button btn btn-primary col-3"
        %p.h3 トピックス
        %br/
        %p
          2021/2/27（土）
          %br>/
          トップページを更新しました！
        %br/
        %p
          2021/2/20（土）
          %br>/
          一部機能を追加しました！
        %br/
        %p
          2021/2/14（土）
          %br>/
          サービスを開始しました！

= link_to(new_recipe_path, class: 'make-btn') do
  %span.make-btn-text レシピを投稿する

= render "shared/footer"
