= render "shared/header"

.main
  .l-container
    .title レシピ一覧
    .lu-container
      .recipe-contents
        %p.subtitle 人気レシピ一覧
        %ul.recipe-lists
          - @recipes.each do |recipe|
            %li.list
              = link_to recipe_path(recipe.id) do
                .recipe-img-content
                  = image_tag recipe.image.variant(resize: '500x500'), class: "recipe-img" if recipe.image.attached?
                .recipe-info
                  %h3.recipe-name
                    = recipe.name
                  .recipe-contributor
                    %span.name
                      %a{:href => "/users/#{recipe.user.id}"}
                        %span 投稿者
                        = recipe.user.nickname
                    .star-btn
                      = image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"
                      %span.star-count
                        = recipe.favorited_users.count

          - unless @recipes.exists?
            %li.list
              = link_to '#' do
                = image_tag "sample_cucumber.png", class: "recipe-img"
                .recipe-info
                  %h3.recipe-name
                    レシピを投稿してね！
                  .recipe-contributor
                    .star-btn
                      - image_tag "star.png", class:"star-icon"
                      %span.star-count 0

    .ll-container
      .recipe-contents
        %p.subtitle 新着レシピ一覧
        %ul.recipe-lists
          - @recipes.each do |recipe|
            %li.list
              = link_to recipe_path(recipe.id) do
                .recipe-img-content
                  = image_tag recipe.image.variant(resize: '500x500'), class: "recipe-img" if recipe.image.attached?
                .recipe-info
                  %h3.recipe-name
                    = recipe.name
                  .recipe-contributor
                    %span.name
                      %a{:href => "/users/#{recipe.user.id}"}
                        %span 投稿者
                        = recipe.user.nickname
                    .star-btn
                      = image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"
                      %span.star-count
                        = recipe.favorited_users.count
                        
          - unless @recipes.exists?
            %li.list
              = link_to '#' do
                = image_tag "sample_cucumber.png", class: "recipe-img"
                .recipe-info
                  %h3.recipe-name
                    レシピを投稿してね！
                  .recipe-contributor
                    .star-btn
                      - image_tag "star.png", class:"star-icon"
                      %span.star-count 0

  .r-container
    .ru-container
      %p.r-title トピックス
      %ul.lists
        - 3.times do |i|
          %li.list
            %a{:href => "#" }
              .column-info
                %p.time-stamp トピックスが投稿された日付
              %p.r-subtitle トピックス

    .rl-container
      %p.r-title 料理家一覧
      %ul.lists
        - 3.times do |i| #料理人の数
          %li.list
            %a{:href => "#" }
              %p.r-subtitle 料理人の名前

= link_to(new_recipe_path, class: 'purchase-btn') do
  %span.purchase-btn-text レシピを投稿する

= render "shared/footer"

