= render "shared/header"

.main
  .container-fluid
    %p.h3.mb-3.ml-3 新着レシピ
    .row
      .col-sm-9
        .card-group
          - @recipes.each do |recipe|
            = link_to recipe_path(recipe.id) do
              .col-sm-4.mb-3
                .card.img-hidden.text-center
                  .card-img-top
                    = image_tag recipe.image.variant(resize: '500x500'), class: "img-fluid recipe-img" if recipe.image.attached?
                  .card-body
                    %p.card-title
                      = recipe.name
                    %p.text-muted.recipe-contributor
                      %span.name
                        %a{:href => "/users/#{recipe.user.id}"}
                          = recipe.user.nickname
                      .star-btn
                        = image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"
                        %span.star-count
                          = recipe.favorited_users.count
      .col-sm-3
        %p.h3 トピックス
        %br/
        %p
          2021/2/27（土）
          %br>/
          トップページを更新しました！
        %br/
        %p
          2021/2/20（土）
          %br>/
          一部機能を追加しました！
        %br/
        %p
          2021/2/14（土）
          %br>/
          サービスを開始しました！

  .container-fluid.mt-5
    %p.h3.mb-3.ml-3 人気レシピ
    .row
      .col-sm-9
        .card-group
          - @recipes.each do |recipe|
            = link_to recipe_path(recipe.id) do
              .col-sm-4.mb-3
                .card.img-hidden.text-center
                  .card-img-top
                    = image_tag recipe.image.variant(resize: '500x500'), class: "img-fluid recipe-img" if recipe.image.attached?
                  .card-body
                    %p.card-title
                      = recipe.name
                    %p.text-muted.recipe-contributor
                      %span.name
                        %a{:href => "/users/#{recipe.user.id}"}
                          = recipe.user.nickname
                      .star-btn
                        = image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"
                        %span.star-count
                          = recipe.favorited_users.count

= link_to(new_recipe_path, class: 'make-btn') do
  %span.make-btn-text
    %i.fas.fa-plus.fa-lg
    %i.fas.fa-utensils.fa-2x

= render "shared/footer"
