= render "shared/header"

.main
  .container-fluid
    %p.h3.mb-3.ml-3 
      %i.fab.fa-hotjar.font-weight-bold
        新着レシピ
    .row
      .col-sm-9
        .card-group
          - @recipes.each do |recipe|
            = link_to recipe_path(recipe.id) do
              .col-sm-4.mb-3
                .card.img-hidden.text-center
                  .card-img-top
                    = image_tag recipe.image.variant(resize: '500x500'), class: "img-fluid recipe-img" if recipe.image.attached?
                  .card-body
                    .recipe-contribute
                      %p.card-title.align-middle
                        = recipe.name
                      .favorite-red.favorites-count.mb-2
                        %span.material-icons.mr-1
                          favorite
                        %span
                          = recipe.favorited_users.count
                    %p.text-muted
                      %span.name
                        %a{:href => "/users/#{recipe.user.id}"}
                          = recipe.user.nickname
        = paginate @recipes

      .col-sm-3
        %p.h3
          %i.fas.fa-rss-square
            トピックス
        %br/
        %p
          2021/2/27（土）
          %br>/
          トップページを更新しました！
        %br/
        %p
          2021/2/20（土）
          %br>/
          一部機能を追加しました！
        %br/
        %p
          2021/2/14（土）
          %br>/
          サービスを開始しました！

  .container-fluid.mt-5
    %p.h3.mb-3.ml-3
      %i.fas.fa-crown
        人気レシピ
    .row
      .col-sm-9
        .card-group
          - @favorited_recipes.each do |favorited_recipe|
            = link_to recipe_path(favorited_recipe.id) do
              .col-sm-4.mb-3
                .card.img-hidden.text-center
                  .card-img-top
                    = image_tag favorited_recipe.image.variant(resize: '500x500'), class: "img-fluid recipe-img" if favorited_recipe.image.attached?
                  .card-body
                    .recipe-contribute
                      %p.card-title.align-middle
                        = favorited_recipe.name
                      .favorite-red.favorites-count.mb-2
                        %span.material-icons.mr-1
                          favorite
                        %span
                          = favorited_recipe.favorited_users.count
                    %p.text-muted
                      %span.name
                        %a{:href => "/users/#{favorited_recipe.user.id}"}
                          = favorited_recipe.user.nickname
        = paginate @favorited_recipes

= link_to(new_recipe_path, class: 'make-btn') do
  %span.make-btn-text
    %i.fas.fa-plus
    %i.fas.fa-utensils.fa-lg
  %p 新規投稿
  
= render "shared/footer"
