<%= render "shared/header" %>
<div class="main">
  <div class="u-containt">
    <%# ランキング %>
    <div class='item-contents'>
      <h2 class='title'>人気レシピ</h2>
      <ul class='item-lists'>
        <% @recipes.each do |recipe| %>
          <li class='list'>
            <%= link_to recipes_path(recipe.id) do %>
              <div class='item-img-content'>
                <%= image_tag recipe.image.variant(resize: '500x500'), class: "item-img" if recipe.image.attached? %>
              </div>
              <div class='item-info'>
                <h3 class='item-name'>
                  <%= recipe.name %>
                </h3>
                <div class='item-price'>
                  <span><%= recipe.material %></span>
                  <div class='star-btn'>
                    <%# image_tag "star.png", class:"star-icon" %>
                    <span class='star-count'>0</span>
                  </div>
                </div>
              </div>
            <% end %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
  <%# /新着一覧 %>
  <div class="l-containt">
   <%# 新着一覧 %>
    <div class='item-contents'>
      <h2 class='title'>新着レシピ</h2>
      <ul class='item-lists'>
        <% @recipes.each do |recipe| %>
          <li class='list'>
            <%= link_to recipes_path(recipe.id) do %>
              <div class='item-img-content'>
                <%= image_tag recipe.image.variant(resize: '500x500'), class: "item-img" if recipe.image.attached? %>
              </div>
              <div class='item-info'>
                <h3 class='item-name'>
                  <%= recipe.name %>
                </h3>
                <div class='item-price'>
                  <span><%= recipe.material %></span>
                  <div class='star-btn'>
                    <%# image_tag "star.png", class:"star-icon" %>
                    <span class='star-count'>0</span>
                  </div>
                </div>
              </div>
            <% end %>
            </li>
        <% end %>
       </ul>
    </div>
    <%# /新着一覧 %>
  </div>
</div>

<%= link_to(new_recipe_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>投稿する</span>
<% end %>

<%= render "shared/footer" %>