= render "shared/header"

.search-main
  .container
    %nav{:aria-label => "breadcrumb"}
      %ol.breadcrumb
        %li.breadcrumb-item.mr-2
          - breadcrumb :search_recipe
          = render "shared/breadcrumbs"
    %p.h3.mb-4 詳細検索結果： #{@results.length} 件

  .container
    .row
      .card-group
        - if @results.length !=0
          - @results.each do |recipe|
            = link_to recipe_path(recipe.id) do
              .col-sm-4.mb-3
                .card.img-hidden.text-center
                  .card-img-top
                    = image_tag recipe.image.variant(resize: '500x500'), class: "img-fluid recipe-box-img" if recipe.image.attached?
                  .card-body
                    .recipe-contribute
                      %p.card-title.align-middle
                        = recipe.name
                      .favorite-red.favorites-count.mb-2
                        %span.material-icons.mr-1
                          favorite
                        %span
                          = recipe.favorited_users.count
                    %p.text-muted
                      %span.name
                        %a{:href => "/users/#{recipe.user.id}"}
                          = recipe.user.nickname

        - else
          %p.mt-5.ml-5 お探しのキーワードでレシピが見つかりませんでした。
      -# = paginate @recipes

= render "shared/footer"