<%= render "shared/header" %>

<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @recipe.name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @recipe.image ,class:"item-box-img" %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        <%= @recipe.material %>
      </span>
    </div>

    <% if (user_signed_in?) && (current_user.id == @recipe.user_id) %>
      <%= link_to 'レシピの編集', edit_recipe_path(@recipe.id), method: :get, class: "item-red-btn" %>
      <p class='or-text'>or</p>
      <%= link_to '削除', recipe_path(@recipe.id), method: :delete, class:'item-destroy' %>
    <% end %>

    <div class="item-explain-box">
      <span><%= @recipe.explanation %></span>
    </div>
    <div class="item-explain-box">
      <span><%= @recipe.point %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">投稿者</th>
          <td class="detail-value">
            <a href="/users/<%= @recipe.user.id %>">
              <%= @recipe.user.nickname %>
            </a>
          </td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @recipe.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">ジャンル</th>
          <td class="detail-value"><%= @recipe.genre.name %></td>
        </tr>
        <tr>
          <th class="detail-item">お酒の種類</th>
          <td class="detail-value"><%= @recipe.alcohol.name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <h2>いいね件数<%= @recipe.favorites.count %></h2>
        <% if current_user.already_favorited?(@recipe) %>
          <%= button_to 'いいねを取り消す', recipe_favorites_path(@recipe), method: :delete %>
        <% else %>
          <%= button_to 'いいね', recipe_favorites_path(@recipe) %>
        <% end %>
        <h2>いいねしたユーザー</h2>
        <% @recipe.favorited_users.each do |user| %>
          <li><%= user.nickname %></li>
        <% end %>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切なレシピの通報</span>
      </div>
    </div>
  </div>

  <%# コメント欄 %>
  <div class="comment-box">
    <% if user_signed_in? %>
      <%= form_with(model: [@recipe, @comment], local: true) do |f| %>
        <%= f.text_area :text, class:"comment-text", placeholder: "コメント欄", rows: "2" %>
        <p class="comment-warn">
          相手のことを考え丁寧なコメントを心がけましょう。
          <br>
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        </p>
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <%= f.submit "コメントする" ,class:"comment-btn" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  </div>
  <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
  <%# /コメント欄 %>

  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前のレシピ
    </a>
    <a href="#" class="change-item-btn">
      後ろのレシピ ＞
    </a>
  </div>
  <%= link_to 'トップページへ戻る', root_path %>
  <a href="#" class='another-item'><%= @recipe.category.name %>をもっと見る</a>
</div>

<%= render "shared/footer" %>