= render "shared/header"

.main
  .container-fluid
    %nav{:aria-label => "breadcrumb"}
      %ol.breadcrumb
        %li.breadcrumb-item.mr-2
          = link_to root_path do
            居酒屋レシピ トップ
        %li.breadcrumb-item.active{:aria-current => "page"}
          #{@user.nickname}のレシピルーム
    .row
      .col-12
        = image_tag "izakaya2.jpg" ,class:"img-fluid hero-img"
        .card-img-overlay.text-white.d-flex.align-items-center.justify-content-center
          .text-center.p-3{:style=>"background-color:rgba(0,0,0,0.70)"}
            .h2.pb-2
              「シンプルなレシピ」で「美味しく」
              %br/
            .h4.text-right.pr-5
              by  #{@user.nickname}
    
    .row.my-5
      .col-sm-9
        .h3.ml-3.mb-3 #{@user.nickname}が投稿したレシピ
        .card-group
          - @recipes.each do |recipe|
            = link_to recipe_path(recipe.id) do
              .col-sm-4.mb-3
                .card.img-hidden.text-center
                  .card-img-top
                    = image_tag recipe.image.variant(resize: '500x500'), class: "img-fluid recipe-img" if recipe.image.attached?
                  .card-body
                    %p.card-title
                      = recipe.name
                    %p.text-muted.recipe-contributor
                      %span.name
                        %a{:href => "/users/#{recipe.user.id}"}
                          = recipe.user.nickname
                      .star-btn
                        = image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"
                        %span.star-count
                          = recipe.favorited_users.count
      .col-3.text-center
        .h3.mb-5 #{@user.nickname}
        .btn-group.btn-group-lg.mb-5{:role => "group",:aria-label => "Basic example"}
          %button.btn.btn-secondary.mr-4.rounded-circle{:type=>"button"}
            %i.fab.fa-twitter-square.fa-2x
          %button.btn.btn-secondary.mr-4.rounded-circle{:type=>"button"}
            %i.fab.fa-line.fa-2x
          %button.btn.btn-secondary.mr-4.rounded-circle{:type=>"button"}
            %span.material-icons
              facebook
        .btn-group-vertical{:role => "group",:aria-label => "Basic example"}
          %button.btn.btn-secondary.mb-4{:type=>"button"}
            %span.material-icons
              person_add_alt
            %p フォロー一覧
          %button.btn.btn-secondary.mb-4{:type=>"button"}
            %span.material-icons
              favorite_border
            %p いいね一覧

= render "shared/footer"