.footer
  .footer-contents
    .furima-details
      %h2.footer-content-head Izakaya Recipeについて
      %ul
        %li= link_to '会社概要（運営会社)', "#", class: "footer-link"
        %li= link_to 'プライバシーポリシー', "#", class: "footer-link"
        %li= link_to 'Izakaya Recipe利用規約', "#", class: "footer-link"
    .furima-details
      %h2.footer-content-head レシピを見る
      %ul
        %li= link_to 'カテゴリー一覧', "#", class: "footer-link"
        %li= link_to 'ジャンル一覧', "#", class: "footer-link"
        %li= link_to 'アルコール一覧', "#", class: "footer-link"
    .furima-details
      %h2.footer-content-head Izakaya Recipeについて
      %ul
        %li= link_to 'Izakaya Recipeとは', "#", class: "footer-link"
        %li= link_to 'お知らせ', "#", class: "footer-link"
  %p Copyright ©️ 2021 Soshi Kono
