%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top{:style => "background-color: #e3f2fd;"}
  = link_to root_path, class: "navbar-brand" do
    Izakaya Recipe
  = form_with(url: search_recipes_path, local: true, method: :get, class: "search-form form-inline my-2 my-lg-0") do |form|
    .form-group
      = form.text_field :keyword, placeholder: "キーワードから探す", class: "input-box form-control mr-sm-2"
      = form.submit "レシピ検索", class: "search-button btn btn-primary my-2 my-sm-0"

  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{:href => "#"}
          ランキング
          %span.sr-only (current)
      %li.nav-item.active
        %a.nav-link{:href => "#"}
          お酒別
          %span.sr-only (current)
      %li.nav-item.active
        %a.nav-link{:href => "#"}
          カテゴリ
          %span.sr-only (current)
      %li.nav-item.active
        %a.nav-link{:href => "#"}
          ジャンル
          %span.sr-only (current)
      %li.nav-item.active
        %a.nav-link{:href => "#"}
          投稿者検索
          %span.sr-only (current)
      %li.nav-item.active
        %a.nav-link{:href => "#"}
          IzakayaRecipeとは
          %span.sr-only (current)

      - if user_signed_in?
        %li.nav-item.active
          = link_to current_user.nickname, "/users/#{current_user.id}", class: "user-nickname nav-link"
        %li.nav-item.active
          = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout nav-link"
      - else
        %li.nav-item.active
          = link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "guest-login nav-link", method: :post
        %li.nav-item.active
          = link_to 'ログイン', new_user_session_path, class: "login nav-link"
        %li.nav-item.active
          = link_to '新規登録', new_user_registration_path, class: "sign-up nav-link"