= render "shared/second-header"
= form_with model: @user, url: user_session_path, id: 'new_user', class: 'registration-main', local: true do |f|
  .form-wrap
    .form-header
      %h1.form-header-text
        会員情報入力
    .login-flash-message
      = flash[:alert]
    .form-group
      .form-text-wrap
        %label.form-text
          ニックネーム
          %span.indispensable 必須
      = f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"例) furima太郎", maxlength:"30"
    .form-group
      .form-text-wrap
        %label.form-text
          パスワード
          %span.indispensable 必須
      = f.password_field :password, class:"input-default", id:"password", placeholder:""
    .login-btn
      = f.submit "ログイン" ,class:"login-red-btn"
    .forget-pass
      パスワードをお忘れですか？
    .session-page
      = link_to 'アカウントをお持ちでないですか？新規作成', new_user_registration_path, class: "sign-up nav-link"


= render "shared/second-footer"
