!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 居酒屋レシピ
    %link{:rel=>"icon", :type=>"image/x-icon", :href=>"bear.png"}
    = csrf_meta_tags
    = csp_meta_tag
    %link{:href => "http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
    %script{:src => "https://kit.fontawesome.com/4715496948.js", :crossorigin => "anonymous"}
    %link{:href=>"https://fonts.googleapis.com/icon?family=Material+Icons", :rel=>"stylesheet"}
  %body
    = yield
